
#toolbar,
#toolbar * {
  text-align: right;
}
#toolbar ul li {
  float: right;
}
#toolbar ul li a {
  display: inline-block;
  float: none;
  zoom: 1;
}
#toolbar-user {
  float: left;
}
#toolbar #toolbar-user li {
  float: none;
  display: inline;
}
#toolbar-menu {
  float: none;
}
#toolbar-home {
  float: right;
}
