/**
 * @file toolbar.admin.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
body.toolbar {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#toolbar,
#toolbar * {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
  text-align: left; /* LTR */
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -moz-touch-callout: none;
  -o-touch-callout: none;
  -webkit-touch-callout: none;
  touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: baseline;
}
#toolbar {
  font-size: 100%;
  font-size: 1rem;
  line-height: 1;
}

/**
 * Administration menu.
 */
#toolbar .toolbar-bar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 600;
}
@media screen and (max-width:28.124em) {
  #toolbar .toolbar-bar {
    position: absolute;
  }
}
@media screen and (min-width:16.5em) {
  #toolbar-actions {
  float: left; /* LTR */
  }
  #toolbar-user {
    float: right; /* LTR */
  }
  #toolbar .toolbar-bar .section {
    min-height: 2.875em;
    min-height: 2.875rem;
  }
  #toolbar .toolbar-bar .section.first,
  #toolbar .toolbar-bar .section.second {
    min-width: 6.6667em;
    min-width: 6rem;
  }
  #toolbar .toolbar-bar .section.first {
    float: left; /* LTR */
  }
  #toolbar .toolbar-bar .section.second {
    float: right; /* LTR */
  }
  #toolbar .toolbar-bar .section.actions {
    overflow: hidden;
  }
  #toolbar .toolbar-bar .menu li {
    display: block;
    float: left; /* LTR */
  }
  #toolbar .toolbar-bar .menu a {
    display: inline-block;
  }
}
/**
 * Toolbar tray.
 */
#toolbar .toolbar-tray.positioned {
  bottom: 0;
  left: -320px;
  left: -20rem;
  max-width: 92%;
  overflow-y: auto;
  position: fixed;
  width: 320px;
  width: 20rem;
  z-index: 600;
}
#toolbar .toolbar-tray.positioned > .slider {
  left: -100%; /* LTR */
  overflow:hidden;
  position: absolute;
  -moz-transition: left, 0.2s ease-out;
  -o-transition: left, 0.2s ease-out;
  -webkit-transition: left, 0.2s ease-out;
  transition: left, 0.2s ease-out;
  width: 100%;
}
#toolbar .toolbar-tray.positioned.active,
#toolbar .toolbar-tray.positioned.active > .slider {
  left: 0; /* LTR */
}
/**
 * At larger screen sizes, the tray pushes the page content
 * using padding instead of left.
 */
@media screen and (max-width:28.124em) {
  body.menu-tray-open {
    overflow: hidden;
  }
  #toolbar .toolbar-tray.positioned {
    position: absolute;
  }
}
/**
 * At larger screen sizes, the tray pushes the page content
 * using padding instead of left.
 */
@media screen and (min-width:28.125em) {
  body.menu-tray-open {
    padding-left: 320px;
    padding-left: 20rem;
  }
}
#toolbar .toolbar-tray .toolbar-menu li a {
  display: block;
}
/* This style seems to belong neither in toolbar nor in shortcut. */
#toolbar .toolbar-tray #shortcut-toolbar + a {
  margin-top: 0.3333em;
}
/**
 * Fleximenu accordion.
 */

#toolbar .fleximenu {
  position: relative;
  overflow: hidden;
}
#toolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#toolbar .fleximenu li {
  display: block;
}
#toolbar .box {
  position: relative;
}
#toolbar .dormant {
	display: none;
}
#toolbar .trail > ul { /* Show the sub-menus */
  display: block;
}
#toolbar .active > ul {
  z-index: 51; /* Pull the active trail li's above the other li's */
}
#toolbar .fleximenu .box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  width: auto;
}
#toolbar .fleximenu a {
  display: block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#toolbar .handle {
  bottom: 0;
  display: block;
  height: 2em;
  position: absolute;
  right: 10px;
  top: 0;
  -moz-transform: rotate(0deg);
  -moz-transition: -moz-transform 0.1s ease-in;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  -o-transform: rotate(0deg);
  -o-transition: -o-transform 0.1s ease-in;
  transform: rotate(0deg);
  transition: transform 0.1s ease-in;
  width: 2em;
  z-index: 1;
}
#toolbar .handle::after,
#toolbar .handle::before {
  background-color: #999;
  border-radius: 0px;
  content: " ";
  display: block;
  height: 1em;
  left: 50%;
  position: absolute;
  width: 2px;
}
#toolbar .handle::before {
  -moz-transform: rotate(-145deg);
  -o-transform: rotate(-145deg);
  -webkit-transform: rotate(-145deg);
  transform: rotate(-145deg);
  top: 1.1em;
}
#toolbar .handle::after {
  -moz-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
  top: 0.3em;
}
#toolbar .handle.open {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
#toolbar .handle + * {
  margin-right: 60px;
}
#toolbar .handle:hover {
  cursor: pointer;
}
/* Shortcuts */
#toolbar #edit-shortcuts {
  clear: left;
  display: block;
}
