/**
 * @file toolbar.admin.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
body.toolbar-tray-open {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.toolbar-main,
.toolbar-main * {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
.toolbar-main {
  font-size: 100%;
  line-height: 1;
}
.toolbar-main ul,
.toolbar-main ul li,
.toolbar-main .menu li {
  list-style: none;
}
.toolbar-main .menu li {
  padding-top: 0;
}
/**
 * Administration menu.
 */
.toolbar-main .bar {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 600;
}
.toolbar-main .bar li {
  display: block;
}
.toolbar-main .bar a {
  display: block;
}
@media screen and (min-width: 16.5em) {
  .toolbar-main .bar li {
    float: left; /* LTR */
  }
}
@media screen and (min-width: 28.125em) {
  .toolbar-main .bar {
    position: fixed;
  }
}
/**
 * Toolbar tray.
 */
.toolbar-main .tray {
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.toolbar-main .tray.vertical {
  bottom: 0;
  height: 100%;
  left: -100%;
  position: absolute;
  width: 100%;
  z-index: 600;
}
.toolbar-main .tray.horizontal {
  left: 0; /* LTR */
  height: 0;
  position: absolute;
  width: 100%;
  z-index: 600;
}
.toolar-main .tray .lining {
  position: relative;
}
.toolbar-main .tray.vertical > .slider {
  left: -100%; /* LTR */
  position: absolute;
  width: 100%;
}
.toolbar-main .tray.active {
  display: block;
}
.toolbar-main .horizontal.active {
  height: auto;
}
.toolbar-main .tray.vertical.active,
.toolbar-main .tray.vertical.active > .slider {
  left: 0; /* LTR */
}
@media screen and (min-width: 16.5em) {
  .toolbar-main .tray.vertical {
    bottom: 0;
    position: absolute;
    width: 15em;
  }
}
@media screen and (min-width: 28.125em) {
  .toolbar-main .tray.horizontal,
  .toolbar-main .tray.vertical {
    position: fixed;
  }
}
/**
 * At larger screen sizes, the tray pushes the page content
 * using padding instead of left.
 */
@media screen and (min-width: 28.125em) {
  body.toolbar-tray-open.toolbar-vertical {
    overflow: auto;
  }
  body.toolbar-tray-open.toolbar-vertical {
    padding-left: 15em;
  }
}
/**
 * Toolbar menus.
 */
.toolbar-main .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.toolbar-main .interactive-menu {
  height: 100%;
}
.toolbar-main .interactive-menu-offset {
  height: 100%;
  position: relative;
}
.toolbar-main .box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  position: relative;
  width: auto;
}
.toolbar-main .dormant {
  display: none;
}
.toolbar-main .trail > ul { /* Show the sub-menus */
  display: block;
}
.toolbar-main .active > ul {
  z-index: 51; /* Pull the active trail li's above the other li's */
}
.toolbar-main .tray .interactive-menu li {
  display: block;
}
.toolbar-main .interactive-menu a {
  display: block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toolbar-main .tray .interactive-menu li a,
.toolbar-main .toolbar-list a {
  display: block;
}
.toolbar-main .handle {
  float: right;
}
.toolbar-main .handle:hover {
  cursor: pointer;
}
.toolbar-main .horizontal .toolbar-list li {
  float: left;
}
.toolbar-main .horizontal .toolbar-list li + li {
  margin-left: 0.5em; /* LTR */
}
.toolbar-main .horizontal .interactive-menu .handle,
.toolbar-main .horizontal .interactive-menu .level-2 {
  display: none;
}
/**
 * Toolbar tray orientation toggle.
 */
.toolbar-main .toggle-orientation {
  display: none;
}
.toolbar-main .horizontal .toggle-orientation {
  position: absolute;
  right: 0;
  top: 0;
}
.toolbar-main .vertical .toggle-orientation {
  float: right;
}
@media screen and (min-width: 16.5em) {
  .toolbar-main .toggle-orientation {
    display: block;
  }
  .toolbar-main .administration .toggle-orientation {
    display: none;
  }
}
@media screen and (min-width: 28.125em) {
  .toolbar-main .administration .toggle-orientation {
    display: block;
  }
}
