/**
 * @file toolbar.admin.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
body.toolbar {
  width: 100%;
}
#toolbar,
#toolbar * {
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}

/**
 * Administration menu.
 */
#toolbar .toolbar-bar {
  left: 0;
  min-height: 2.2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 600;
}
#toolbar .toolbar-bar li {
  float: left; /* LTR */
}
#toolbar .toolbar-bar li a {
  display: inline-block;
  line-height: 2.1818em; /* ~24px */
}
#toolbar-user {
  float: right; /* LTR */
}
#toolbar-home {
  float: left; /* LTR */
}
/**
 * Toolbar tray. 
 */
#toolbar .toolbar-tray {
  bottom: 0;
  left: 0; /* LTR */
  position: absolute;
  top: 0;
  z-index: 600;
}
#toolbar .toolbar-tray li a {
  display: block;
}
/* This style seems to belong neither in toolbar nor in shortcut. */
#toolbar .toolbar-tray #shortcut-toolbar + a {
  margin-top: 0.3333em;
}

/**
 * Wide screens.
 */
@media screen and (min-width: 48em) {
  body.toolbar {
    padding-top: 2.2em;
  }
  #toolbar .toolbar-bar {
    position: fixed;
  }
}
