/**
 * @file toolbar.admin.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
body.toolbar {
  width: 100%;
}
#toolbar,
#toolbar * {
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}

/**
 * Administration menu.
 */
#toolbar .toolbar-bar {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 600;
}
#toolbar .toolbar-tray {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 600;
}
#toolbar .collapsed {
  display: none;
  visibility: hidden;
}
#toolbar .toolbar-menu {
  position: relative;
}
#toolbar .toolbar-bar li {
  float: left; /* LTR */
}
#toolbar-user {
  float: right; /* LTR */
}
#toolbar-home {
  float: left; /* LTR */
}
#toolbar .toolbar-bar li a {
  display: inline-block;
  line-height: 2.1818em; /* ~24px */
}

/**
 * Wide screens.
 */
@media screen and (min-width: 48em) {
  body.toolbar {
    padding-top: 2.2em;
  }
  body.toolbar-drawer {
    padding-top: 5.3em;
  }
  #toolbar .toolbar-bar {
    position: fixed;
  }
}

/**
 * Collapsed drawer of shortcut toolbar content.
 */
#toolbar .toolbar-drawer {
  position: relative;
}

/**
 * Collapsed drawer of additional toolbar content.
 */
#toolbar a.toolbar-toggle-tray {
  float: left;
}
#toolbar .toolbar-tray ul li {
  display: block;
}
#toolbar .tray-menu {
  clear: both;
}
#toolbar .tray-menu a {
  display: block;
}
#toolbar .tray-menu a:hover {
  background-color: #fafafa;
}
#toolbar .toolbar-tray .filter {
  float: left;
}
#toolbar .toolbar-tray .form-item {
  float: left;
}
#toolbar .toolbar-tray span.close {
  float: left;
}
