.toolbar-main,
.toolbar-main * {
  text-align: right;
}
.toolbar-main ul li {
  float: right;
}
.toolbar-main ul li a {
  display: inline-block;
  float: none;
  zoom: 1;
}
.toolbar-main-user {
  float: left;
}
.toolbar-main .toolbar-main-user li {
  float: none;
  display: inline;
}
.toolbar-main-menu {
  float: none;
}
.toolbar-main-home {
  float: right;
}
