/**
 * @file toolbar.admin.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
body.toolbar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#toolbar,
#toolbar * {
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}
#toolbar {
  font-size: 100%;
  font-size: 1rem;
  line-height: 1;
}

/**
 * Administration menu.
 */
#toolbar-actions {
  float: left; /* LTR */
}
#toolbar-user {
  float: right; /* LTR */
}
#toolbar .toolbar-bar {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 600;
}
#toolbar .toolbar-bar .menu li {
  display: block;
  float: left; /* LTR */
}
#toolbar .toolbar-bar .menu a {
  display: inline-block;
}
/**
 * Toolbar tray.
 *
 * At small screen sizes, the tray overlays the page content.
 *
 * This strategy uses movement of the tray, which is stationary
 * for the large screen strategy. Because the page doesn't need
 * move at the same speed of the tray, we can move the tray and
 * the inner slider at the same time.
 */
@media screen and (max-width:47.9999em) {
  #toolbar .toolbar-tray {
    left: -100%;
    -webkit-transition: left, 0.2s ease-out;
  }
  #toolbar .toolbar-tray.active {
    left: 0;
  }
}
/**
 * At larger screen sizes, the tray pushes the page content.
 *
 * This strategy uses z-index to hide the tray.
 */
@media screen and (min-width:48em) {
  body {
    -webkit-transition: padding-left, 0.2s ease-out;
  }
  body.menu-tray-open {
    padding-left: 256px;
    padding-left: 16rem;
  }
  #toolbar .toolbar-bar,
  #toolbar .toolbar-tray.positioned {
    position: fixed;
  }
  #toolbar .toolbar-tray.positioned {
    z-index: -1000;
  }
  #toolbar .toolbar-tray.positioned.active {
    z-index: 600;
  }
}
#toolbar .toolbar-tray.positioned,
#toolbar .toolbar-tray.positioned > .slider {
  bottom: 0;
  left: 0; /* LTR */
  position: absolute;
  top: 0;
}
#toolbar .toolbar-tray.positioned {
  width: 256px;
  width: 16rem;
  max-width: 80%;
}
#toolbar .toolbar-tray.positioned > .slider {
  left: -100%; /* LTR */
  -webkit-transition: left, 0.2s ease-out;
  width: 100%;
}
#toolbar .toolbar-tray.positioned.active > .slider {
  left: 0; /* LTR */
}
#toolbar .toolbar-tray.positioned > .lining {
  max-height: 100%;
  overflow: scroll;
}
#toolbar .toolbar-tray.positioned li a {
  display: block;
}
/* This style seems to belong neither in toolbar nor in shortcut. */
#toolbar .toolbar-tray #shortcut-toolbar + a {
  margin-top: 0.3333em;
}
/**
 * Accordion
 */
/* @group Behavior */

.fp-wrapper {
  position: relative;
  overflow: hidden;
}
.fp-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fp-item {
  display: block;
}
.fp-box {
  position: relative;
}
.fp-dormant {
	display: none;
}
.fp-calculate {
  display: block !important;
  visibility: hidden !important;
  width: 100% !important;
}
.fp-trail > .fp-list { /* Show the sub-menus */
  display: block;
}
.fp-active > .fp-list {
  z-index: 51; /* Pull the active trail li's above the other li's */
}
.fp-wrapper .fp-box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  width: auto;
}
.fp-link {
  display: block;
}
.fp-handle {
  bottom: 0;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 1;
}
.fp-handle + * {
  margin-right: 60px;
}
.fp-back .fp-handle {
  left: 0;
  right: auto;
}
.fp-back .fp-handle + * {
  margin-left: 60px;
  margin-right: 0;
}
.fp-handle:hover {
  cursor: pointer;
}
